<!DOCTYPE html>
<html lang="en">
  <head>
    <title>vhs_net</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/b386/css/bootstrap.css" rel="stylesheet">
    <link href="/b386/css/bootstrap-responsive.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }

      .form-signin {
        max-width: 300px;
        padding: 19px 29px 29px;
        margin: 0 auto 20px;
        border: 1px solid #e5e5e5;
      }
      .form-signin .form-signin-heading,
      .form-signin .checkbox {
        margin-bottom: 10px;
      }
      .form-signin input[type="text"],
      .form-signin input[type="password"] {
        font-size: 16px;
        height: auto;
        margin-bottom: 15px;
        padding: 7px 9px;
      }

    </style>
  </head>
  <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="/">~/VHS_NET</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <% current = request.path_info unless current %>
              <% set_cls = -> path { path == current ? "active" : ""} %>
              <% if session[:user] == "admin" %>
                <%= "<li class=#{set_cls["/admin"]}><a href='/admin'>/admin</a></li>" %>
              <% end %>
              <% if session[:user] %>
                <%= "<li class=#{set_cls["/about"]}><a href='/about'>/about</a></li>" %>
                <%= "<li class=#{set_cls["/list"]}><a href='/list'>/list</a></li>" %>
                <%= "<li class=#{set_cls["/mail"]}><a href='/mail/received'>/mail</a></li>" %>
                <%= "<li class=#{set_cls["/messages"]}><a href='/messages'>/messages</a></li>" %>
                <%= "<li class=#{set_cls["/polls"]}><a href='/polls'>/polls</a></li>" %>
                <%= "<li class=#{set_cls["/test"]}><a href='/test'>/test</a></li>" %>
                <%= "<li class=#{set_cls["/who"]}><a href='/who'>/who</a></li>" %>
                <%= "<li class=#{set_cls["/signout"]}><a href='/signout'>/signout</a></li>" %>
              <% elsif session[:species] == "cat" %>
                <%= "<li class=#{set_cls["/cat"]}><a href='/cat'>/cat</a></li>" %>
                <%= "<li class=#{set_cls["/signout"]}><a href='/signout'>/signout</a></li>" %>
              <% else %>
                <%= "<li class=#{set_cls["/signin"]}><a href='/signin'>/signin</a></li>" %>
              <% end %>  
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
    <div class="container">
      <div class="span10">
        <%= yield %>
      </div>
    </div>
    
  </body>
  <script src="/b386/js/bootstrap.min.js"></script>
  <script src="/b386/js/jquery.js"></script>
  <scritp src="/b386/js/active.js"></script>
  <script src="/b386/js/bootstrap-transition.js"></script>
  <script src="/b386/js/bootstrap-alert.js"></script>
  <script src="/b386/js/bootstrap-modal.js"></script>
  <script src="/b386/js/bootstrap-dropdown.js"></script>
  <script src="/b386/js/bootstrap-scrollspy.js"></script>
  <script src="/b386/js/bootstrap-tab.js"></script>
  <script src="/b386/js/bootstrap-tooltip.js"></script>
  <script src="/b386/js/bootstrap-popover.js"></script>
  <script src="/b386/js/bootstrap-button.js"></script>
  <script src="/b386/js/bootstrap-collapse.js"></script>
  <script src="/b386/js/bootstrap-carousel.js"></script>
  <script src="/b386/js/bootstrap-typeahead.js"></script>
</html>
