<h1>/list</h1>
<% if @list.any? %>
  <%= "<table class='table table-striped'>" %>
  <%= "<tr>
        <th>.qty</th>
        <th>.item</th>
        <th>.notes</th>
        <th>.added</th>
        <th>/edit</th>
        <th>.destroy</th>
      </tr>" %>
  <% @list.each do |item| %>
  <%= "<tr>
        <td>#{item.quantity}</td>
        <td>#{item.item}</td>
        <td>#{item.note}</td>
        <td>#{item.added_on.strftime("%m/%e/%Y")}</td>
        <td><a href=\"/edit/#{item.id}\">#{item.id}</a></td>
        <td><a href='/#{item.id}/list/destroy'>x</a></td>
      </tr>" %>
  <% end %>
  <%= "</table>" %>
<% else %>
  <%= "nothing on the list!" %>  
<% end %>
<p class="text-right"><a href="/list/add">/add</a></p>
