<h1>/messages</h1>
<% if @messages.any? %>
  <%= "<table class='table table-striped'>" %>
  <%= "<tr>
        <th>.author</th>
        <th>.topic</th>
        <th>.written</th>
        <th>.replies</th>
        <th>.destroy</th>
      </tr>" %>
  <% @messages.each do |msg| %>
  <%= "<tr>
        <td>#{msg.author}</td>
        <td><a href='/messages/#{msg.id}'>#{msg.topic}</a></td> 
        <td>#{format_time(msg.added_on)}</td>
        <td>#{@comments.all(:post_id => msg.id).count}</td>    
        <td><a href='/#{msg.id}/messages/destroy'>x</a></td>
      </tr>" %>
  <% end %>
  <%= "</table>" %>
<% else %>
  <%= "no messages!" %>  
<% end %>
<p class="text-right"><a href="/messages/new">/new</a></p>