<h1><%= @msg.topic %></h1>
<h4 class="text-left"><%= "post written by <a href='/profile/#{@msg.author}'>#{@msg.author}</a> on #{format_time(@msg.added_on)}:" %></h4>
<div class="lead"><%= markdown(@msg.message) %></div>

<!-- comments go here -->
<% if @comments.any? %>
  <% counter = 1 %>
  <% @comments.each do |comment| %>
    <%= "<h4 class='text-left'>reply #{counter} by <a href='/profile/#{comment.author}'>#{comment.author}</a> on #{format_time(comment.added_on)}:<p>" %>
    <%= "<div class='lead'>#{markdown(comment.message)}</div>" %>
    <% counter += 1 %>
  <% end %>
<% end %>
<h2>/new_comment</h2>
<form class="form-horizontal" method="POST">
  <div class="control-group">
    <label class="control-label" for="inputNotes">.text</label>
    <div class="controls">
      <textarea class="span4" rows="8" name="message"></textarea>
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
      <button type="submit" class="btn">.save</button>
    </div>
  </div>
</form>

<p class="text-right">messages and comments parsed in <a href="http://daringfireball.net/projects/markdown/syntax">markdown</a></p>
<p class="text-right"><a href="/messages">back to /messages</a></p>
